<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Formulario</title>
    <link rel="icon" href="static/Logo_PUCMM.png" type="image/png">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
    <script src='static/js.js'></script>
</head>
<body class="bg-primary">
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header "><h3 class="text-center font-weight-light my-4">Crear Nuevo Formulario</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/registrar" enctype=multipart/form-data >
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control py-4" id="inputName" type="text" placeholder="Nombre"
                                           name="nombre" onclick="GEOLOCATION()" required/>
                                </div>
                                <div class="invalid-feedback">
                                    Llene este campo
                                </div>
                                <div class="form-group">
                                    <input class="form-control py-4" id="inputUser" type="text" placeholder="Sector"
                                           name="sector" required/>
                                </div>
                                <div class="invalid-feedback">
                                    Llene este campoo
                                </div>
                                <div class="form-group">
                                    <select class="custom-select mr-sm-2" id="nivelEscolar" name="nivelEscolar" required>
                                        <option selected> Nivel Academico</option>
                                        <option value="Basico">Basico</option>
                                        <option value="Medio">Medio</option>
                                        <option value="Grado">Grado</option>
                                        <option value="Maestria">Maestria</option>
                                        <option value="Doctorado">Doctorado</option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="lati" id="lati" value="">
                            <input type="hidden" id="longi" name="longi" value="">

                            <br>
                            <div class="col-md-12">
                                <fieldset class="input-group">
                                    <legend>Añadir Fotografía</legend>
                                    <div class="md-overlay"></div>
                                    <div class="form-group">
                                        <label for="lasfotos">Subir Imagen</label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" id="lasfotos" class="form-control" name="thefiles"
                                                       accept="image/*" multiple required>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button type="submit" class="btn btn-success btn-block">Crear Nuevo Formulario</button>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <a class="btn btn-outline-danger" href="/dashboard"> <-- Regresar al Panel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    //--GEOLOCATION-----//
    function GEOLOCATION(){

        function success(pos){
            console.log('Working...')
            var crd = pos.coords
            document.querySelector("#lati").value = crd.latitude;
            document.querySelector("#longi").value = crd.longitude;
        }
        navigator.geolocation.getCurrentPosition(success)
    }
</script>
</body>
</html>